mat-card
    margin: 24px 12px 24px 24px
    mat-card-header
        border-bottom: 2px solid black
    mat-card-content
        margin-top: 32px
        mat-form-field
            margin-bottom: 16px
            display: block
        div.buttons
            margin-top: 32px
            button
                display: block
                width: 100%