mat-card
    margin: 24px 12px 24px 24px
    mat-card-header
        border-bottom: 2px solid black
    mat-card-content
        margin-top: 12px
        mat-form-field
            display: block
        button
            margin-top: 6px
            display: block
            width: 100%