<mat-card>
    <mat-card-header>
        <mat-card-title>Reporte actual</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="col-izq">
            <p class="pais">{{ weather.country }}</p>
            <p class="ciudad">{{ weather.city }}</p>
            <p class="dia">{{ dia }}</p>
            <p class="estado">{{ weather.status }}</p>
            <p class="temperatura">
                <span>{{ weather.temperatureC }}</span>
                <span>ºC</span>
            </p>
            <p class="estado">{{ weather.temperatureF }}ºF</p>            
        </div>
        <div class="col-der">
            <img src="{{ weather.status }}" />
            <p class="adicional">Prob. de precipitaciones: {{ weather.rain }}%</p>
            <p class="adicional">Humedad: {{ weather.humidity }}%</p>
            <p class="adicional">Viento: a {{ weather.wind }} km/h.</p>
        </div>
    </mat-card-content>
</mat-card>