mat-card
    margin: 24px 24px 24px 12px
    mat-card-header
        border-bottom: 2px solid black
    mat-card-content
        display: inline
        margin-top: 12px
        div
            .col-izq, .col-der
                display: inline
                width: 50%
        p.pais
            color: #ababab
            font-size: 0.8em
            margin-bottom: 0
        p.ciudad
            color: #ababab
            font-size: 0.95em
        p.dia 
            text-transform: uppercase
            letter-spacing: 4px
            font-size: 1.5em
            font-weight: 500
        p.estado 
            text-transform: uppercase
            letter-spacing: 2px
            font-size: 1.2em
            font-weight: 500
        p.temperaturaC
            margin-top: 36px
            span:first-child
                font-size: 4em
                letter-spacing: 4px
                font-weight: 500
            span:last-child
                vertical-align: top
                font-weight: 500
                letter-spacing: 2px
                font-size: 1.5em